* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media (max-width: 1170px) {
  .container-fluid {
    display: none;
  }
  .footer-cont {
    display: flex;
    justify-content: center;
  }
  .footer-cont img {
    display: none;
  }
  .footer-cont .footer-nav {
    display: none;
  }
  .header-cont {
    background-color: #beb173;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 100px;
    position: relative;
  }
  .header-cont .logo {
    position: static;
    margin: 0;
    padding: 10px 0;
    display: block;
  }
  .header-cont .logo img {
    width: 180px;
  }
  .header-cont .contacts {
    display: none;
  }
  .adaptive-header-btn {
    display: block;
    font-size: 26px;
    color: #fff;
    position: relative;
    cursor: pointer;
    margin-right: 15px;
  }
  .adaptive-phone-btn {
    display: block;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    margin-left: 15px;
  }
  .header-nav {
    display: none;
  }
  .adaptive-nav {
    position: absolute;
    top: 100%;
  }
  .relative {
    position: absolute;
    display: block;
    width: 100%;
    left: 0;
    top: 100%;
  }
  .relative .navbar {
    padding: 0;
    margin: 0;
  }
  .relative .navbar li {
    display: block;
    background-color: #beb173;
    text-align: center;
    padding: 10px 0;
  }
  .relative .navbar li a {
    color: #fff;
  }
  .relative .navbar li:first-child {
    border-top: 1px solid #fff;
  }
  .relative .navbar li::after {
    display: none;
  }
  .relative-contacts {
    display: block !important;
    position: absolute;
    top: 100%;
    right: 0;
    transform: skew(0deg);
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
  }
  .relative-contacts ul {
    padding: 0;
    margin: 0;
    transform: skew(0deg);
  }
  .relative-contacts ul li {
    display: block;
    background-color: transparent;
    text-align: center;
    padding: 10px 0;
    transform: skew(0deg);
  }
  .relative-contacts ul li a {
    color: black;
  }
  .relative-contacts ul li a i {
    padding-right: 10px;
  }
  .relative-contacts ul li:first-child {
    border-top: 1px solid #fff;
  }
  .relative-contacts ul li::after {
    display: none;
  }
  .relative-contacts .time {
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .relative-contacts .time i {
    padding-right: 10px;
    transform: skew(0deg);
  }
  .row-container {
    position: static;
    padding-top: 0;
    transform: translate(0, 0);
  }
  .about-right {
    width: 100%;
    max-width: 100%;
    padding: 15px;
  }
  .about-right h1 {
    text-align: center;
  }
  .about-right p {
    text-align: center;
  }
  .pros-cons {
    flex-direction: column;
    align-items: flex-start;
  }
  .pros-cons .pros {
    width: 100%;
  }
  .pros-cons .cons {
    width: 100%;
  }
  .footer-cont {
    flex-direction: column;
  }
  .footer-elem {
    transform: skew(0deg);
  }
  .footer-elem div ul li {
    transform: skew(0deg);
  }
  .footer-elem div h3 {
    transform: skew(0deg);
  }
}
@media screen and (max-width: 767px) {
  .about-fill-img {
    display: none !important;
  }
  .for-cont ul {
    flex-direction: column;
  }
}/*# sourceMappingURL=mobile-styles.css.map */