@font-face {
    font-family: 'centurygothic';
    src: url('/src/fonts/centurygothic.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'centurygothic-bold';
    src: url('/src/fonts/centurygothic_bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}

$micro-color: #beb173;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'centurygothic-bold';
    text-align: center;
}

body {
    font-family: 'centurygothic';
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
}

a {
    text-decoration: none;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}


header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.container-fluid {
    background-color: $micro-color;
    height: 30px;
}
.logo {
    position: absolute;
    display: block;
    top: -15px;
}

.icon {
    display: none;
}

.cont-wrap {
    background-color: #fff;
}

.header-cont {
    display: flex;
    justify-content: center;
    position: relative;
}

.adaptive-header-btn {
    display: none;
}

.adaptive-phone-btn {
    display: none;
}

.header-nav {
    display: inline-block;
}

.navbar {

    list-style: none;
    margin: 10px 0;
    padding: 0 15px;

    li {
        display: inline-block;
        padding: 10px 0;

        &::after {
            content: '/';
            display: inline-block;
            margin: 0 5px;
        }

        &:last-child::after {
            display: none;
        }

        a {
            color: black;
        }
    }
}

.contacts {
    display: inline-block;
    position: absolute;
    top: -22px;
    background-color: #fff;
    transform: skew(-25deg);
    font-size: 18px;
    padding: 20px;
    width: max-content;

    ul {
        position: relative;
        padding-left: 25px;
        list-style: none;

        li {
            transform: skew(25deg);
            a {
                font-family: centurygothic-bold;
                font-size: 18px;
                color: black;
                span {
                    color: $micro-color;

                }
            }
        }
    }
}

.time {
    padding-left: 25px;
    span {
        font-family: centurygothic-bold;
    }
}

.slider {
    width: 100%;
    height: 100%;
}

.itc-slider__item {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
}

.itc-slider__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-bg {
    position: absolute;
    top: 0;
    left: 0;
}

.slider-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 32px;
    text-transform: uppercase;
    width: 100%;
    margin: 0 auto;

    h3 {
        font-size: 85px;
        text-transform: none;
        margin-bottom: 40px;
        font-family: centurygothic-bold;

        &:after {
            content: '';
            display: block;
            width: 120px;
            height: 2px;
            margin: 0 auto;
        }
    }

    p {
        font-size: 32px;
        text-transform: none;
        font-weight: 400;


    }

}

.text1 {
    h3 {
        color: red;

        &:after {
            background-color: red;
        }
    }

    p {
        color: #242424;
    }
}

.text2 {
    h3 {
        color: $micro-color;

        &:after {
            background-color: $micro-color;
        }
    }

    p {
        color: #fff;
    }
}

.about {
    position: relative;
    min-height: 760px;

    img {
        width: 60%;
        display: inline-block;
        vertical-align: top;
    }
}

.about-right {
    display: inline-block;
    max-width: 340px;
    padding: 50px 30px;

    h1 {
        font-size: 28px;
        font-family: centurygothic-bold;
        text-transform: uppercase;
        color: #beb173;
        display: block;
        margin-bottom: 25px;
        line-height: 1;
        text-align: left;
    }

    p {
        font-size: 18px;
        vertical-align: top;
        display: inline-block;
        text-align: left;
        margin-left: -5px;
        color: #474d51;
    }
}

.row-container {
    position: absolute;
    display: block;
    bottom: 50px;
    width: 100%;
    padding: 50px 0;
    left: 50%;
    transform: translateX(-50%);
}

.row {
    display: flex;
    justify-content: center;
    gap: 20px;
    img {
        width: fit-content;
        display: block;
    }
}

.elem {
    position: relative;
    display: inline-block;
}

.info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: fit-content;
    padding: 30px;
    color: #fff;
    background-color: rgba(0, 0, 0, .7);
}

.increment {
    background-color: #fff;
    padding: 8px 20px;
    margin: 0 0 20px 15px;
    transform: skew(-25deg);
    width: max-content;

    span {
        display: block;
        font-size: 36px;
        font-family: centurygothic-bold;
        transform: skew(25deg);
    }
}

.inc-odd {
    color: #242424;
}

.inc-even {
    color: #beb173;
}

.callback {
    //margin-top: 50px;
    background: url('/src/img/bg/bg-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 0;

    .callback-tittle {
        text-align: center;
        color: #fff;
        font-size: 32px;
    }
}

.btn-phone {
    margin: 35px auto 0;
    text-align: center;
    border: 3px solid $micro-color;
    width: fit-content;
    transform: skew(-25deg);
    padding: 12px 30px;

    a {
        font-family: 'centurygothic-bold';
        color: $micro-color;
        display: inline-block;
        transform: skew(25deg);
        font-size: 18px;
    }
}

.work-container {
    padding: 50px 0;

    h2 {
        margin-bottom: 35px;
        color: #474d51;
    }
}

.pros-cons {
    display: flex;
    flex-flow: row nowrap;

    h3 {
        margin-bottom: 10px;
        color: #474d51;
    }

    ul {
        list-style: none;
    }

    li {
        color: #242424;
        position: relative;
        width: 100%;
        padding-left: 45px;
        margin-bottom: 10px;
        min-height: 35px;

        &::before {
            font: var(--fa-font-solid);
            color: $micro-color;
            font-size: 30px;
            position: absolute;
            left: 0;
            top: 0;
            display: inline-block;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
        }
    }
}

.cons {
    padding: 0 10px;
    width: 50%;

    li {
        &::before {

            content: '\f57a';

        }
    }
}


.pros {
    padding: 0 10px;
    width: 50%;

    li {
        &::before {
            content: '\f118';
        }
    }
}

.work-footer {
    width: 100%;
    background-color: $micro-color;
    text-align: center;
    padding: 12px 0 15px;
    font-family: 'centurygothic-bold';
    font-size: 28px;
    color: #fff;
    text-shadow: 2px 3px rgba(0, 0, 0, 0.4);
    margin-top: 25px;
}

.advantages {
    background-image: url('/src/img/bg/bg-4.jpg');
}

.adv-wrap {
    padding: 50px 0;
    display: flex;
    flex-direction: column;

    h2 {
        margin-bottom: 55px;
    }
}

.adv-row {
    display: flex;
    flex-flow: row nowrap;

    img {
        width: 55px;
        height: 55px;
    }
}

.col {
    width: 25%;
    padding: 0 15px;
    margin-bottom: 25px;

    h4 {
        text-align: left;
        color: #474d51;
        margin: 10px 0;
    }

    p {
        font-size: 18px;
        color: #242424;
    }
}

.for-cont {
    padding: 50px 0;

    h2 {
        color: #474d51;
    }

    ul {
        list-style: none;
        display: flex;
        flex-flow: row nowrap;
        padding: 35px 0;
        justify-content: space-between;

        li {
            width: 20%;
            position: relative;
            font-size: 18px;
            padding: 0 20px;
            color: #242424;

            &::before {
                font: var(--fa-font-regular);
                color: $micro-color;
                font-size: 45px;
                display: block;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                padding: 10px 0;
                content: '\f14a';
            }
        }
    }
}

footer {
    background-color: #242424;
    color: #fff;
    font-size: 15px;
    padding: 25px 0;
}

.footer-cont {
    display: flex;
    flex-flow: row nowrap;
}

.footer-elem {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: skew(-25deg);
    padding: 0 15px;

    h3 {
        margin-bottom: 10px;
        transform: skew(25deg);
    }
}

.footer-text {  
    ul {
        list-style: none;
        padding: 0 15px;

        li {
            transform: skew(25deg);
            padding: 5px 0;
            max-width: 300px;

            i {
                padding: 0 10px;
            }
        }
    }
}

.feedback-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
        margin: 10px 15px;
        height: 40px;
        width: 200px;
    }

    button {
        margin: 10px 15px;
        padding: 5px 10px;
        border: 2px solid #fff;
        background-color: transparent;
        color: $micro-color;
        width: 200px;
        font-size: 18px;
        font-family: 'centurygothic-bold';
    }
}