@font-face {
    font-family: 'centurygothic';
    src: url('/src/fonts/centurygothic.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'centurygothic-bold';
    src: url('/src/fonts/centurygothic_bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}

$micro-color: #beb173;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'centurygothic-bold';
    text-align: center;
}

body {
    font-family: 'centurygothic';
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
}

a {
    text-decoration: none;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}


header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.container-fluid {
    background-color: $micro-color;
    height: 30px;
}

.logo {
    position: absolute;
    display: block;
    top: -15px;
    left: calc(50% - 585px);

    a {
        img {
            width: 286px;
            height: auto;
        }
    }
}

.icon {
    display: none;
}

.cont-wrap {
    background-color: #fff;
}

.header-cont {
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    justify-content: center;
}

.adaptive-header-btn {
    display: none;
}

.adaptive-phone-btn {
    display: none;
}

.header-nav {
    display: inline-block;

}

.navbar {

    list-style: none;
    margin: 10px 0;
    padding: 0 15px;

    li {
        display: inline-block;
        padding: 10px 0;

        &::after {
            content: '/';
            display: inline-block;
            margin: 0 5px;
        }

        &:last-child::after {
            display: none;
        }

        a {
            color: black;
        }
    }
}

.contacts {
    display: inline-block;
    position: absolute;
    top: -22px;
    right: calc(50% - 570px);
    background-color: #fff;
    transform: skew(-25deg);
    font-size: 18px;
    padding: 20px;
    width: max-content;

    ul {
        position: relative;
        padding-left: 25px;
        list-style: none;

        li {
            transform: skew(25deg);

            a {
                font-family: centurygothic-bold;
                font-size: 18px;
                color: black;

                span {
                    color: $micro-color;

                }
            }
        }
    }
}

.time {
    padding-left: 25px;

    span {
        font-family: centurygothic-bold;
        font-size: 18px;
    }

    i {
        transform: skew(25deg);
        padding-right: 10px;
    }
}

.time-clock {
    font-size: 18px;
    color: $micro-color;
    font-family: centurygothic-bold;
}

.slider {
    width: 100%;
    height: 100%;
}

.itc-slider__item {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
}

.itc-slider__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-bg {
    position: absolute;
    top: 0;
    left: 0;
}

.slider-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 32px;
    text-transform: uppercase;
    width: 100%;
    margin: 0 auto;

    h3 {
        font-size: 85px;
        text-transform: none;
        margin-bottom: 40px;
        font-family: centurygothic-bold;

        &:after {
            content: '';
            display: block;
            width: 120px;
            height: 2px;
            margin: 0 auto;
        }
    }

    p {
        font-size: 32px;
        text-transform: none;
        font-weight: 400;


    }

}

.text1 {
    h3 {
        color: red;

        &:after {
            background-color: red;
        }
    }

    p {
        color: #242424;
    }
}

.text2 {
    h3 {
        color: $micro-color;

        &:after {
            background-color: $micro-color;
        }
    }

    p {
        color: #fff;
    }
}

.about {
    position: relative;
    min-height: 760px;

    img {
        width: 60%;
        display: inline-block;
        vertical-align: top;
    }
}

.about-right {
    display: inline-block;
    max-width: 39%;
    width: 340px;
    padding: 50px 30px;

    h1 {
        font-size: 28px;
        font-family: centurygothic-bold;
        text-transform: uppercase;
        color: #beb173;
        display: block;
        margin-bottom: 25px;
        line-height: 1;
        text-align: left;
    }

    p {
        font-size: 18px;
        vertical-align: top;
        display: inline-block;
        text-align: left;
        margin-left: -5px;
        color: #474d51;
    }
}

.row-container {
    position: absolute;
    display: block;
    bottom: 50px;
    max-width: 1170px;
    width: 100%;
    padding: 50px 0;
    left: 50%;
    transform: translateX(-50%);
}

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;

    img {
        width: fit-content;
        display: block;
    }
}

.elem {
    position: relative;
    display: inline-block;
    justify-self: center;
}

.info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 255px;
    padding: 30px;
    color: #fff;
    background-color: rgba(0, 0, 0, .7);
}

.increment {
    background-color: #fff;
    padding: 8px 20px;
    margin: 0 0 20px 15px;
    transform: skew(-25deg);
    width: max-content;

    span {
        display: block;
        font-size: 36px;
        font-family: centurygothic-bold;
        transform: skew(25deg);
    }
}

.inc-odd {
    color: #242424;
}

.inc-even {
    color: #beb173;
}

.callback {
    //margin-top: 50px;
    background: url('/src/img/bg/bg-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 0;

    h3 {
        font-size: 2.5vw;
    }

    p {
        font-size: 1.5vw;
    }

    .callback-tittle {
        text-align: center;
        color: #fff;
    }
}

.btn-phone {
    margin: 35px auto 0;
    text-align: center;
    border: 3px solid $micro-color;
    transform: skew(-25deg);
    padding: 12px 15px;
    width: max-content;
    transition: background-color .2s ease;

    a {
        font-family: 'centurygothic-bold';
        color: $micro-color;
        display: inline-block;
        transform: skew(25deg);
        font-size: 18px;
        text-decoration: none;
    }
    &:hover {
        background-color: $micro-color;
        a {
            color: #fff;
        }
    }
}

.work-container {
    padding: 50px 0;

    h2 {
        margin-bottom: 35px;
        color: #474d51;
    }
}

.pros-cons {
    display: flex;
    flex-flow: row wrap;

    h3 {
        margin-bottom: 10px;
        color: #474d51;
    }

    ul {
        list-style: none;
    }

    li {
        color: #242424;
        position: relative;
        width: 100%;
        padding-left: 45px;
        margin-bottom: 10px;
        min-height: 35px;

        &::before {
            font: var(--fa-font-solid);
            color: $micro-color;
            font-size: 30px;
            position: absolute;
            left: 0;
            top: 0;
            display: inline-block;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
        }
    }
}

.cons {
    padding: 0 10px;
    width: 50%;

    li {
        &::before {

            content: '\f57a';

        }
    }
}


.pros {
    padding: 0 10px;
    width: 50%;

    li {
        &::before {
            content: '\f118';
        }
    }
}

.work-footer {
    width: 100%;
    background-color: $micro-color;
    text-align: center;
    padding: 12px 0 15px;
    font-family: 'centurygothic-bold';
    font-size: 28px;
    color: #fff;
    text-shadow: 2px 3px rgba(0, 0, 0, 0.4);
    margin-top: 25px;
}

.advantages {
    background-image: url('/src/img/bg/bg-4.jpg');
}

.adv-wrap {
    padding: 50px 0;
    display: flex;
    flex-direction: column;

    h2 {
        margin-bottom: 55px;
    }
}

.adv-row {
    display: flex;
    flex-flow: row wrap;

    img {
        width: 55px;
        height: 55px;
    }
}

.col {
    width: 50%;
    padding: 0 15px;
    margin-bottom: 25px;

    h4 {
        text-align: left;
        color: #474d51;
        margin: 10px 0;
    }

    p {
        font-size: 18px;
        color: #242424;
    }
}

.for-cont {
    padding: 50px 0;

    h2 {
        color: #474d51;
    }

    ul {
        list-style: none;
        display: flex;
        flex-flow: row wrap;
        padding: 35px 0;
        justify-content: space-between;

        li {
            flex-basis: 20%;
            font-size: 18px;
            padding: 0 20px;
            color: #242424;
            width: 100%;

            &::before {
                font: var(--fa-font-regular);
                color: $micro-color;
                font-size: 45px;
                display: block;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                padding: 10px 0;
                content: '\f14a';
            }
        }
    }
}

footer {
    background-color: #242424;
    color: #fff;
    font-size: 15px;
    padding: 25px 0;
}

.footer-cont {
    display: flex;
    flex-flow: row nowrap;
}

.footer-elem {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: skew(-25deg);
    padding: 0 15px;

    h3 {
        margin-bottom: 10px;
        transform: skew(25deg);
    }
}

.footer-text {
    ul {
        list-style: none;
        padding: 0 15px;

        li {
            transform: skew(25deg);
            padding: 5px 0;
            max-width: 300px;

            i {
                padding: 0 10px;
            }
        }
    }
}

.feedback-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
        margin: 10px 15px;
        height: 40px;
        width: 200px;
    }

    button {
        margin: 10px 15px;
        padding: 5px 10px;
        border: 2px solid #fff;
        background-color: transparent;
        color: $micro-color;
        width: 200px;
        font-size: 18px;
        font-family: 'centurygothic-bold';
    }
}

.hystmodal__content {
    padding: 20px;
}

.modal-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    form {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        gap: 10px;
        transform: skew(-25deg);
    }
    .input-wrap {
        transform: skew(-25deg);
        input {
            width: 100%;
            border: 1px solid #444444;
            transform: skew(25deg);
            padding: 10px 20px;
            font-size: 16px;
            outline: 0;
        }
    }
}






//adaptive design starts here






@media (max-width: 1170px) {

    .slider-text {
        h3 {
            margin-bottom: 10px;
        }
    }
    .container-fluid {
        display: none;
    }

    .footer-cont {
        display: flex;
        justify-content: center;

        img {
            display: none;
        }

        .footer-nav {
            display: none;
        }
    }

    .header-cont {
        background-color: $micro-color;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: center;
        padding: 0 100px;
        position: relative;

        .logo {
            position: static;
            margin: 0;
            padding: 10px 0;
            display: block;

            img {
                width: 180px;
            }

        }

        .contacts {
            display: none;
        }
    }

    .adaptive-header-btn {
        display: block;
        font-size: 26px;
        color: #fff;
        position: relative;
        cursor: pointer;
        margin-right: 15px;
    }

    .adaptive-phone-btn {
        display: block;
        color: #fff;
        font-size: 22px;
        cursor: pointer;
        margin-left: 15px;
    }

    .header-nav {
        display: none;
    }

    .adaptive-nav {
        position: absolute;
        top: 100%;
    }

    .relative {
        position: absolute;
        display: block;
        width: 100%;
        left: 0;
        top: 100%;

        .navbar {
            padding: 0;
            margin: 0;

            li {
                display: block;
                background-color: #beb173;
                text-align: center;
                padding: 10px 0;

                a {
                    color: #fff;
                }

                &:first-child {
                    border-top: 1px solid #fff;
                }

                &::after {
                    display: none;
                }
            }
        }
    }

    .relative-contacts {
        display: block !important;
        position: absolute;
        top: 100%;
        right: 0;
        transform: skew(0deg);
        background-color: rgba($color: #fff, $alpha: .9);
        width: 100%;

        ul {
            padding: 0;
            margin: 0;
            transform: skew(0deg);

            li {
                display: block;
                background-color: transparent;
                text-align: center;
                padding: 10px 0;
                transform: skew(0deg);

                a {
                    color: black;

                    i {
                        padding-right: 10px;
                    }
                }

                &:first-child {
                    border-top: 1px solid #fff;
                }

                &::after {
                    display: none;
                }
            }
        }

        .time {
            text-align: center;
            padding: 0;
            margin: 0;

            i {
                padding-right: 10px;
                transform: skew(0deg);
            }
        }
    }

    .row-container {
        position: static;
        transform: translate(0, 0);
    }

    .about-right {
        width: 39%;
        max-width: 100%;
        padding: 15px;

        h1 {
            text-align: left;
        }

        p {
            text-align: left;
        }
    }

    .pros-cons {
        flex-direction: column;
        align-items: flex-start;

        .pros {
            width: 100%;
        }

        .cons {
            width: 100%;
        }
    }
    .footer-cont {
        flex-direction:  row;
    }
}

@media screen and (max-width: 767px) {

    .callback-tittle {
        h3 {
            font-size: 5vw;
        }
        p {
            font-size: 4vw;
        }
    }

    .about-right {
        width: 100%;
        h1 {
            text-align: center;
        }
        p {
            text-align: center;
        }
    }

    .slider-text {
        h3 {
            font-size: 10vw;
            margin-bottom: 10px;
        }
        p {
            font-size: 3vw;
        }
    }

    .about-fill-img {
        display: none !important;
    }
    .for-cont ul {
        flex-direction: column;
        padding-bottom: 0;
        li {
            &::before {
                display: inline-block;
                padding-right: 10px;
                vertical-align: middle;
            }
        }
    }
    .footer-cont {
        flex-direction:  column;
    }

    .footer-elem {
        transform: skew(0deg);
        div ul li {
            transform: skew(0deg);
        }
        div h3 {
            transform: skew(0deg);
        }
    }

}

@media (min-width: 805px) and (max-width: 1094px) {
    .row {
        margin-left: calc(33% - 255px);
    }
    .elem {
        width: 33%;
    }  
}

@media (max-width: 320px) {
    .btn-phone {
        padding: 5px 8px;
    }
}